.card-header {
  background-color: transparent;
  color: transparent;
}

.card {
  width: 300px;
  height: 250px;
  margin: 0 auto;
  transition: transform 0.2s;
}

.card-img-top {
  height: 250px;
  object-fit: cover;
}

.card:hover {
  transform: scale(1.02);
}

[class^="col-"] {
  display: flex;
  justify-content: center;
}

.crud-operations {
  margin-bottom: 30px;
}

.add-update-buttons{
  margin-top: 10px;
}
