.wd-kanbas-navigation {
    background-color: black;
    list-style: none;
    padding: 0px;
    width: 80px; /* Between 75 and 85 pixels wide */
    margin: 0px;
  }
  
  .wd-kanbas-navigation li {
    padding: 7.5px; /* Between 5 and 10 pixels */
    margin-bottom: 7.5px; /* Between 5 and 10 pixels */
    font-size: 0.8em;
    text-align: center;
  }
  
  .wd-kanbas-navigation li.wd-active {
    background-color: white;
  }
  
  .wd-kanbas-navigation li.wd-active a {
    color: red;
  }
  
  .wd-kanbas-navigation a {
    color: white;
    text-decoration: none;
  }
  
  .wd-kanbas-navigation a i {
    color: red; /* Icons must be red */
    font-size: 2em;
    margin-bottom: 7.5px; /* Between 5 and 10 pixels */
  }
  
  .account-icon {
    color: gray;
  }
  /* The spacing between text, icons, and links is controlled by margin and padding properties in your CSS. */
  