.whole-container {
  display: flex;
}

.right-container {
  padding-top: 60px;
  padding-right: 50px;
  margin-left: 50px;
}

.list-container {
  width: 100%;
  background-color: lightgray;
  color: white;
  padding: 20px 0 20px 20px;
}

.right-text-style {
  text-decoration: none;
  color: black;
}

.right-contents-grey-text {
  color: grey;
  font-size: 13px;
}
.custom-link {
  padding: initial;
  text-decoration: none;
  color: red;
}

.list-group-item.flex-container {
  display: flex;
  align-items: flex-start;
}

.icon-column {
  flex: 0 0 auto;
  margin-right: 20px;
  color: red;
}

.content-column {
  flex: 1;
}

.content-column a {
  color: red;
}

.list-group {
  --bs-list-group-border-width: initial;
  --bs-list-group-border-color: initial;
}
.list-group-1 {
  --bs-list-group-border-color:initial;
  padding-left: initial;
}